<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<nav
			class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between mb-4 p-4"
		>
			<a class="navbar-brand" href="/">Matrix Master Community</a>

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<%	if(user) {%>
						<p class="nav-link">Welcome: <i><%= user %></i></p>
						<%}%>
				</li>
				<li class="nav-item active">
					<a href="/logout" class="nav-link">Logout</a>
				</li>
				<%	if(!user) {%>
				<li class="nav-item active">
					<a href="/login" class="nav-link">Login</a>
				</li>
				<%}%>
				<%	if(!user) {%>
				<li class="nav-item active">
					
							<a href="/signup" class="nav-link"> Sign up </a>
							<%}%>
				</li>
			</ul>
		</nav>

		<div class="container">
			<button
				type="button"
				class="btn btn-warning btn-lg mb-4"
				data-bs-toggle="modal"
				data-bs-target="#exampleModal"
				style="width: 100%"
			>
				Ask a question!
			</button>

			<div class="users">
				<% if (posts.length > 0) { %>
				<h2 class="m-auto mb-4 text-center">All Posts</h2>
				<div class="row row-cols-4 g-4">
					<% posts.forEach(post => { %> <% let formattedDate =
					post.createdAt.getDate()+ "-" + (post.createdAt.getMonth()+1) + "-"
					+post.createdAt.getFullYear() %>
					<div class="col">
						<div class="card h-100 border-info">
							<img
								src="https://www.ldatschool.ca/wp-content/uploads/2017/07/shutterstock_230363287-1024x1024.jpg"
								class="card-img-top"
								alt="..."
							/>

							<div class="card-body">
								<h5 class="card-title"><%= post.title %></h5>
								<p class="card-text"><%= post.question.slice(0,100) %>...</p>
								<div class="mb-2">
									<a href="/posts/create/<%= post._id %>" class="fst-italic">See more...</a>
								</div>
							</div>

							<div class="card-footer">
								<small class="text-muted"
									>
									
										Posted by   <i><%= post.owner.username.toString() %></i>
										
									at: <%= formattedDate %>
								</small>
							</div>
						</div>
					</div>
					<% }) %> <% } else { %> There are no blogs to display... <% } %>
				</div>
			</div>
		</div>
		<div class="text-center mt-4"><%- include("./partials/footer.ejs") %></div>

		<!-- Edit Modal -->
		<%- include("./partials/postModal.ejs") %>
	</body>
</html>
